<div id="<%= dom_id place %>">
  <p>
    <strong>Name:</strong>
    <%= place.name %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= place.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= place.lon %>
  </p>

</div>
